@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');

.about__header{
    display:flex;
    width: 100vw;
    height:8vh;
    align-items: center;
    color: var(--primary-color);
    box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid var(--background-color);
    justify-content: space-between;
    position:sticky;
    background-color: var(--background-color);
    top:0;
    z-index:100;
}

.about__header > h1{
    margin-left:20px
}

.about__headerButtons {
    display:flex;
    justify-content: space-evenly;
    font-size: var(--secondary-heading-size);
    /* color: var(--background-color); */
    margin: 10px;
    margin-right: 15px;
}
.about__headerButton {
    margin: 10px;
}

.about__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width:100vw;
    background-color: var(--background-color); 
    
    
}

.about__contentTitle{
    color: var(--primary-color);
}

.about__contentCenter{
    flex: 1;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.about__contentCenter_img{
    width: 33vw;
    display: flex;
    justify-content: center;
}

.about__contentCenter_img > img{
    height:400px;
    height:300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7);
    align-self: center;

}

.about__contentCenter > p {
    width: 33vw;
    text-align: justify;
    color: var(--primary-color);
    font-weight: bolder;
}

.about__contentCenter_dummy{
    width: 33vw;
    height: 10px;
}

/* ---------------------------------------------------------------------- */

.education__content{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education__contentTitle{
    color: var(--primary-color);
    text-align:center;
}

.education__contentCenter{
    display: flex;
    width:100vw;
    

}

.education__contentCollege{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 33vw;
    
}

.education__contentCollege > img{
    border-radius: 5px;
    box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7);
}

.education__contentDescription{
    display:flex;
    flex-direction: column;
    width:33vw;
    align-items: center;
    font-size: var(--secondary-heading-size);
    color: var(--primary-color);
}

.education__contentDescription > h2 {

}





