@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');

.about__header{
    display:flex;
    width: 100vw;
    height:8vh;
    align-items: center;
    color: var(--primary-color);
    box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid var(--background-color);
    justify-content: space-between;
    position:sticky;
    background-color: var(--background-color);
    top:0;
    z-index:100;
}

.about__header > a > h1{
    color: var(--primary-color);
    margin-left:20px
}

.about__headerButtons {
    display:flex;
    justify-content: space-evenly;
    font-size: var(--secondary-heading-size);
    /* color: var(--background-color); */
    margin: 10px;
    margin-right: 15px;
}

.about__headerButton {
    color: var(--primary-color);
    margin: 10px;
    text-decoration: none;
}

.about__headerButton:hover{
    color: lightgrey;
}

.about__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width:100vw;
    /* background-color: var(--background-color);  */
    
    
}

.about__contentTitle{
    color: var(--primary-color);
    margin-bottom: 10vh;
}

.about__contentCenter{
    flex: 1;
    width: 100vw;
    display:flex;
    align-items: start;
    justify-content: space-evenly; 
}


.about__contentCenter_img{
    width: 33vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about__contentCenter_img > img{
    height:300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7);
    align-self: center;

}
.about__contentButtons {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 100%;
}

.about__contentButtons > a >img{
    height: 50px;
    width: 50px;
    margin: 20px;
    transition: transform 250ms ease;
}

.about__contentButtons > a > img:hover{
    transform: scale(1.15);
}


.about__contentCenter > p {
    width: 33vw;
    text-align: justify;
    color: var(--primary-color);
    font-weight: bolder;
}

.about__contentCenter_dummy{
    width: 33vw;
    height: 10px;
}

/* ---------------------------------------------------------------------- */

.education__content{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education__contentTitle{
    color: var(--primary-color);
    text-align:center;
}

.education__contentCenter{
    display: flex;
    width:100vw;
    

}

.education__contentCollege{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 33vw;
    
}

.education__contentCollege > img{
    border-radius: 5px;
    /* box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7); */
    height: 200px;
    object-fit: cover;
}


/* ---------------------------------------------------------- */
.work{
    height: 100vh;
    width: 100vw;
    /* background-color: var(--background-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid var(--primary-color);
}

.work__title{
    color: var(--primary-color);
    margin-top: 10vh;
    border: 2px solid var(--primary-color);
    padding: 0.5em;
    border-radius: 5px; 
    box-shadow:0px 5px 10px -9px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

.work__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    
}

.work__card{
    /* width: 150px;
    height:200px; */
    border-radius: 10px;
    box-shadow:0px 10px 10px -1px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 35ch;
    color: var(--background-color);
    overflow: hidden;
    transition: transform 500ms ease;
    margin-bottom: 50px;   
}


.work__card:hover{
    transform: scale(1.05);
}

.work__cardContainer{
    padding: 1.8em;
    background: linear-gradient(
        hsl(0 0% 0% / .1),
        hsl(0 0% 0% / .3) 10%,
        hsl(0 0% 0% / 1)
    );
    
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.work__card:hover  .work__cardContainer{
    transform:translateY(0)
}

.work__descriptionTitle{
    position: relative;
    /* width: max-content; */
}

.work__descriptionTitle::after{
    content:"";
    position:absolute;
    height:4px;
    width:100%;
    left: 0;
    bottom:-2px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1000ms ease;
}

.work__card:hover .work__descriptionTitle::after{
    transform: scaleX(1);
}

.work__cardContainer > p{
    color: rgb(255 255 255 / 0.8);
}

.button{
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 0.5em 1.25em; 
    border-radius: 5px;
}



.button:hover, button:focus{
    background-color: var(--secondary-color);
}

.map__content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map{
    height:70vh;
    width: 80vw;
    border-radius: 10px;
    box-shadow:0px 10px 10px -1px rgba(0, 0, 0, 0.7);
}



.work.hobbies{
    background-color: var(--secondary-color)
}

.work.hobbies > h1{
    color: var(--background-color);
}

.timeline__container{
    width: 100vw;
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    align-items: center;
    justify-content: center;
}
.timeline__form{
    display: flex;
    flex-direction: column;
    align-items: 'center';
    justify-content: 'center';
    width: 400px;
    justify-self: center;
}

.timeline_input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

label{
    margin: 5px
}

input:focus ,textarea:focus{
    outline:none;
}

.timeline_button {
    width: 100px;
    background-color: var(--primary-color);
    color:white;
    border-radius: 15px;
    margin-top: 20px;
    align-self: center;
    border: none;
    padding: 10px;
}

.timeline_button :hover{
    transform:scale(1.3);
}

.timeline__cards{
    height: 66vh;
    overflow-y: scroll;
}

.timeline_card{
    display: flex;
    flex-direction: column;
    border:1px solid lightblue;
}

.timeline_header{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.timeline_person{
    display:flex;
    align-items: center;
}

.timeline_photo{
    background-color: var(--secondary-color);
    color:white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px
}

.timeline_personInfo{
    margin: 5px
}

.timeline_personInfo > h3 {
     height: 66%;
     margin: 1px
}

.timeline_personInfo > p {
    color: gray;
    font-size: 10px;
    margin: 1px
}

.timeline_date{
    margin-right: 10px;
    font-size: 12px;
}

.timeline_content{
    margin: 10px
}
