<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="../static/styles/about.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript">
        function initMap() {
            // The location of Uluru
            var dataJson = '{{data.locations|tojson|safe}}'
            dataJson.replaceAll("\'","\"")
            console.log(dataJson)
            var locations = Array.from(JSON.parse(dataJson))
        
            const london = { lat:51.52574482485191, lng: -0.12634439219556462 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 2,
                center: london,
            });
            
            for(var i = 0; i < locations.length; i++){
                console.log(locations[i].lat, locations[i].long)
                var new_pos = {lat:locations[i].lat, lng: locations[i].long}
                new google.maps.Marker({
                    position: new_pos,
                    map: map,
                });
            }
        }
        window.initMap = initMap;

    </script>
    <title>{{data.info.fullName}}</title>
</head>
<body  onload="getPosts()">
    <div class="about__header">
        <a href="/">
            <h1>{{data.info.fullName}}</h1>
        </a>
        
        <div class="about__headerButtons">
            
            <a href="#about" class="about__headerButton">About</a>
            
            <a href="#experience" class="about__headerButton">Experience</a>
            
            <a href="#hobbies" class="about__headerButton">Hobbies</a>
           
            <a href="#map_section" class="about__headerButton">Map</a>

            <a href="#timeline" class="about__headerButton">Timeline</a>
                
        </div>  
    </div>
    
    <div class="about__content" id="about">
        <h1 class="about__contentTitle">
            Hello! I am {{data.info.fullName}}
        </h1>
        <div class="about__contentCenter">
            <div class="about__contentCenter_img">
                <img src={{data.info.photo}} alt="photo">
                <div class="about__contentButtons">
                    <a href={{data.info.github}} target="_blank">
                        <img src="../static/img/github2.png" alt="">
                    </a>
                    <a href={{data.info.linkedin}} target="_blank">
                        <img src="../static/img/linkedIn.png" alt="">
                    </a>    
                </div>
            </div>
            
            <p> {{data.info.about}}</p> 
            <div class="about__contentCenter">
                <div class="education__contentCollege">
                    <img src={{data.education.photo}} alt="photo">
                    <div class="education__contentCollege_info">
                        <h3> {{data.education.college}}</h3>
                        <h3> Major in {{data.education.major}}</h3>
                        <h3> Class of {{data.education.class}} </h3>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    

    <div class="work" id="experience">
        <h1 class="work__title">Experience</h1>
        <div class="work__cards">
            {% for exp in data.experiences: %}
            <div class="work__card" style="background-image:url({{exp.photo}}) ;">
                <div class="work__cardContainer">
                    <h2 class="work__descriptionTitle">{{exp.name}}</h2>
                    <p>{{exp.description}} </p>
                    {% if exp.more == "disabled" %}
                        <a class="button" style="background-color: transparent;" ></a>
                    {% else %}
                    <a href={{exp.more}} target="_blank" class="button">Learn More</a>
                    {% endif %}
                </div>   
            </div>
            
            {% endfor %}
        </div>
        
    </div>

    <div class="work hobbies" id="hobbies">
        <h1 class="work__title">Hobbies</h1>
        <div class="work__cards">
            {% for hob in data.hobbies: %}
            <div class="work__card" style="background-image:url({{hob.photo}}) ;">
                <div class="work__cardContainer">
                    <h2 class="work__descriptionTitle">{{hob.name}}</h2>
                    <p>{{hob.description}} </p>
                    {% if hob.more == "disabled" %}
                        <a class="button" style="background-color: transparent;" ></a>
                    {% else %}
                    <a href={{hob.more}} target="_blank" class="button">Learn More</a>
                    {% endif %}
                </div>   
            </div>
            
            {% endfor %}
            

        </div>
        
    </div>

    <div class="map__content" id="map_section">
        <h1 class="work__title">Places</h1>
        <div id="map"></div>
    </div>
    <!-- ------------------------------------------Timeline -->
    <div class="work" id="timeline">
        <h1 class="work__title">Timeline</h1>
        
        <div class="timeline__container">
            <form class="timeline__form" id="form">
                <label for="name">Name:</label>
                <input class="timeline_input" name="name" type="text" placeholder="John Doe" required>
                <label for="email">Email:</label>
                <input class="timeline_input" name="email" type="text" placeholder="johndoe@gmail.com" required>
                <label for="content">Content:</label>
                <textarea rows="5" class="timeline_input" name="content" required> </textarea>
                <button class="timeline_button" type="submit">Submit</button>
            </form>

            <div class="timeline__cards" id="timeline_posts">
                    <div class="timeline_card">
                        <div class="timeline_header">
                            <div class="timeline_person">
                                <h2 class="timeline_photo">P</h1>
                                <div class="timeline_personInfo">
                                    <h3>Paulin Alcoser</h3>
                                    <p>paulin@gmail.com </p>
                                </div>  
                            </div>
                            <p class="timeline_date"> 28/10/11 </p>
                        </div>
                        <p class="timeline_content">Today I had my second mock interview. Great learning experience!</p>   
                    </div>
                    <!-- <div class="timeline_card">
                        <div class="timeline_header">
                            <div class="timeline_person">
                                <h2 class="timeline_photo">P</h1>
                                <div class="timeline_personInfo">
                                    <h3>Paulin Alcoser</h3>
                                    <p>paulin@gmail.com </p>
                                </div>  
                            </div>
                            <p class="timeline_date"> 28/10/11 </p>
                        </div>
                        <p class="timeline_content">Yesterday I had my second mock interview. Great learning experience!</p>   
                    </div>
                    <div class="timeline_card">
                        <div class="timeline_header">
                            <div class="timeline_person">
                                <h2 class="timeline_photo">P</h1>
                                <div class="timeline_personInfo">
                                    <h3>Paulin Alcoser</h3>
                                    <p>paulin@gmail.com </p>
                                </div>  
                            </div>
                            <p class="timeline_date"> 28/10/11 </p>
                        </div>
                        <p class="timeline_content">Yesterday I had my second mock interview. Great learning experience!</p>   
                    </div> -->
                    <!-- <div class="timeline_card">
                        <div class="timeline_header">
                            <div class="timeline_person">
                                <h2 class="timeline_photo">P</h1>
                                <div class="timeline_personInfo">
                                    <h3>Paulin Alcoser</h3>
                                    <p>paulin@gmail.com </p>
                                </div>  
                            </div>
                            <p class="timeline_date"> 28/10/11 </p>
                        </div>
                        <p class="timeline_content">Yesterday I had my second mock interview. Great learning experience!</p>   
                    </div>
                    <div class="timeline_card">
                        <div class="timeline_header">
                            <div class="timeline_person">
                                <h2 class="timeline_photo">P</h1>
                                <div class="timeline_personInfo">
                                    <h3>Paulin Alcoser</h3>
                                    <p>paulin@gmail.com </p>
                                </div>  
                            </div>
                            <p class="timeline_date"> 28/10/11 </p>
                        </div>
                        <p class="timeline_content">Yesterday I had my second mock interview. Great learning experience!</p>   
                    </div> -->
            </div> 
        </div>
        
        
         
        
    </div>

    <!-- end of _____________________________________________________Timeline -->
    
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClG7VvTcmhuUjRmCKVdTkJByd1i9zZnr4&callback=initMap&v=weekly"
      defer
    ></script>

    <script src="../static/scripts/about.js" defer></script>
</body>
</html>