<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="../static/styles/about.css">
    <title>Document</title>
</head>
<body>
    <div class="about__header">
        <h1>Paulin Alcoser</h1>
        <div class="about__headerButtons">
            
            <div class="about__headerButton">About</div>
            
            <div class="about__headerButton">Experience</div>
            
            <div class="about__headerButton">Hobbies</div>
           
            <div class="about__headerButton">Map</div>
                
        </div>  
    </div>
    
    <div class="about__content">
        <h1 class="about__contentTitle">
            Hello! I am Paulin 
        </h1>
        <div class="about__contentCenter">
            <img src="../static/img/PaulinProfile.jpg" alt="photo">
            <p> Duis est consequat pariatur aute enim tempor mollit ea cupidatat irure est cupidatat. Sunt amet elit fugiat ullamco duis magna. Consectetur pariatur irure cupidatat consequat sunt veniam velit do amet in culpa consequat est. Cillum nisi eu et laboris in adipisicing sint nostrud. Eu non duis nostrud eiusmod minim qui mollit magna sit sunt laboris aliquip minim. Do exercitation commodo esse anim ea ex sit duis. Ea occaecat anim sint nulla sunt.

                Incididunt commodo tempor laborum sunt excepteur consectetur do id anim est. Occaecat sunt deserunt minim ut sunt commodo velit ex irure culpa est dolore nostrud incididunt. Qui ad enim in ipsum in magna qui. 
            </p>   
    </div>
    <!-- <div class="education__content">
        <h1 class="education__contentTitle">
            I went to College to New York University Abu Dhabi
        </h1>
        <img src="education__contentLogo">
        <div class="education__contentDescription">
            <h2> Where?</h2>
            <ul>
                <li> I made a lot friends</li>
                <li>Learnt programming</li>
                <li>Took my first Web Dev class</li>
                <li>Travel</li>
                <li>Learnt how to cook</li>
            </ul>
        </div> -->
    </div>
</body>
</html>