<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link lang='sass' rel="stylesheet" href="./static/styles/base.css">
  <title>Portfolio</title>
</head>
<body>
  <div class="base__header">
    <h1>Alexis <span>&</span> Paulin <span>Portfolio :) :) :)</span></h1>
  </div>
  <div class="base__container">
    <div class="base__card">
      <a href="/AlexisGray">
        <img src="../static/img/alexispfp.jpeg" alt="Photo">
      </a>
      <a href="/home/AlexisGray">
        <h2>Alexis Gray</h2>
      </a>
      
    </div>
    <div class="base__card">
      <a href="/PaulinAlcoser">
        <img src="../static/img/PaulinProfile.jpg" alt="Photo">
      </a>
      <a href="/home/PaulinAlcoser">
        <h2>Paulin Alcoser</h2>
      </a>
     
    </div>
  </div>
</body>
</html>