<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link lang='sass' rel="stylesheet" href="./static/styles/base.css">
  <title>Document</title>
</head>
<body>
  <div class="base__card">
      <img src="../static/img/PaulinProfile.jpg" alt="Photo of Paulin">
      <h2>Paulin Alcoser</h2>
  </div>
  <div class="base__card">
    <img src="../static/img/PaulinProfile.jpg" alt="Photo of Paulin">
    <h2>Paulin Alcoser</h2>
</div>
</body>
</html>